In [8]:
import pandas as pd

In [15]:
df = pd.read_csv("/Users/kerman/Downloads/Chicago_Public_Schools_-_Progress_Report_Cards__2011-2012-v3.csv")

In [20]:
df.describe() #Si quieres todos los datos, es df.describe(include = 'all')

,School ID,ZIP Code,SAFETY_SCORE,Environment Score,Instruction Score,Rate of Misconducts (per 100 students),ISAT Exceeding Math %,ISAT Exceeding Reading %,ISAT Value Add Math,ISAT Value Add Read,COLLEGE_ENROLLMENT,General Services Route,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,Ward,Police District
count,566.000000,566.000000,513.000000,513.000000,513.000000,566.000000,476.000000,476.000000,468.000000,468.000000,566.000000,566.000000,5.660000e+02,5.660000e+02,566.000000,566.000000,566.000000,566.000000,566.000000
mean,609681.791519,60629.727915,49.504873,47.766082,48.288499,21.085866,20.356303,15.667017,0.068590,0.022650,626.053004,39.084806,1.163016e+06,1.885663e+06,41.841890,-87.677323,37.706714,22.060071,11.710247
std,8831.060946,20.248024,20.110837,16.215584,17.417176,27.543835,16.850870,15.208361,1.041174,1.042543,448.495105,6.165552,1.605930e+04,3.285688e+04,0.090361,0.058390,21.584135,13.645574,6.688582
min,400018.000000,60605.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-3.500000,-5.000000,21.000000,29.000000,1.118114e+06,1.817242e+06,41.653674,-87.841052,1.000000,1.000000,1.000000
25%,609873.250000,60618.000000,35.000000,37.000000,37.000000,4.525000,9.175000,6.100000,-0.600000,-0.600000,342.250000,34.000000,1.152166e+06,1.860248e+06,41.771866,-87.717152,23.000000,10.000000,7.000000
50%,610052.500000,60625.000000,48.000000,47.000000,47.000000,12.250000,16.000000,10.950000,0.000000,0.000000,504.000000,39.000000,1.163553e+06,1.886889e+06,41.845521,-87.675878,31.500000,21.000000,10.000000
75%,610212.750000,60639.000000,61.000000,58.000000,59.000000,26.975000,24.900000,19.525000,0.700000,0.625000,790.500000,45.000000,1.174256e+06,1.911652e+06,41.913584,-87.636059,58.000000,32.750000,17.000000
max,610544.000000,60827.000000,99.000000,99.000000,99.000000,251.600000,100.000000,100.000000,3.600000,4.900000,4368.000000,49.000000,1.202811e+06,1.950960e+06,42.021064,-87.533007,77.000000,50.000000,25.000000

Como se ve aqui, hemos printeado la información sobre algunos valores numéricos

In [22]:
df.head()

,School ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,...,Freshman on Track Rate %,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

### Para que se vea toda la información, puedes poner df.info()

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 78 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   School ID                                          566 non-null    int64
 1   NAME_OF_SCHOOL                                     566 non-null    object
 2   Elementary, Middle, or High School                 566 non-null    object
 3   Street Address                                     566 non-null    object
 4   City                                               566 non-null    object
 5   State                                              566 non-null    object
 6   ZIP Code                                           566 non-null    int64
 7   Phone Number                                       566 non-null    object
 8   Link                                               565 non-null    object
 9   Network Manager                                    566 non-null    object
 10  Collaborative Name                                 566 non-null    object
 11  Adequate Yearly Progress Made?                     566 non-null    object
 12  Track Schedule                                     566 non-null    object
 13  CPS Performance Policy Status                      566 non-null    object
 14  CPS Performance Policy Level                       566 non-null    object
 15  HEALTHY_SCHOOL_CERTIFIED                           566 non-null    object
 16  Safety Icon                                        566 non-null    object
 17  SAFETY_SCORE                                       513 non-null    float64
 18  Family Involvement Icon                            566 non-null    object
 19  Family Involvement Score                           566 non-null    object
 20  Environment Icon                                   566 non-null    object
 21  Environment Score                                  513 non-null    float64
 22  Instruction Icon                                   566 non-null    object
 23  Instruction Score                                  513 non-null    float64
 24  Leaders Icon                                       566 non-null    object
 25  Leaders Score                                      566 non-null    object
 26  Teachers Icon                                      566 non-null    object
 27  Teachers Score                                     566 non-null    object
 28  Parent Engagement Icon                             566 non-null    object
 29  Parent Engagement Score                            566 non-null    object
 30  Parent Environment Icon                            566 non-null    object
 31  Parent Environment Score                           566 non-null    object
 32  AVERAGE_STUDENT_ATTENDANCE                         565 non-null    object
 33  Rate of Misconducts (per 100 students)             566 non-null    float64
 34  Average Teacher Attendance                         566 non-null    object
 35  Individualized Education Program Compliance Rate   566 non-null    object
 36  Pk-2 Literacy %                                    566 non-null    object
 37  Pk-2 Math %                                        566 non-null    object
 38  Gr3-5 Grade Level Math %                           566 non-null    object
 39  Gr3-5 Grade Level Read %                           566 non-null    object
 40  Gr3-5 Keep Pace Read %                             566 non-null    object
 41  Gr3-5 Keep Pace Math %                             566 non-null    object
 42  Gr6-8 Grade Level Math %                           566 non-null    object
 43  Gr6-8 Grade Level Read %                           566 non-null    object
 44  Gr6-8 Keep Pace Math%                              566 non-null    object
 45  Gr6-8 Keep Pace Read %                             566 non-null    object
 46  Gr-8 Explore Math %                                566 non-null    object
 47  Gr-8 Explore Read %                                566 non-null    object
 48  ISAT Exceeding Math %                              476 non-null    float64
 49  ISAT Exceeding Reading %                           476 non-null    float64
 50  ISAT Value Add Math                                468 non-null    float64
 51  ISAT Value Add Read                                468 non-null    float64
 52  ISAT Value Add Color Math                          566 non-null    object
 53  ISAT Value Add Color Read                          566 non-null    object
 54  Students Taking  Algebra %                         566 non-null    object
 55  Students Passing  Algebra %                        566 non-null    object
 56  9th Grade EXPLORE (2009)                           566 non-null    object
 57  9th Grade EXPLORE (2010)                           566 non-null    object
 58  10th Grade PLAN (2009)                             566 non-null    object
 59  10th Grade PLAN (2010)                             566 non-null    object
 60  Net Change EXPLORE and PLAN                        566 non-null    object
 61  11th Grade Average ACT (2011)                      566 non-null    object
 62  Net Change PLAN and ACT                            566 non-null    object
 63  College Eligibility %                              566 non-null    object
 64  Graduation Rate %                                  566 non-null    object
 65  College Enrollment Rate %                          566 non-null    object
 66  COLLEGE_ENROLLMENT                                 566 non-null    int64
 67  General Services Route                             566 non-null    int64
 68  Freshman on Track Rate %                           566 non-null    object
 69  X_COORDINATE                                       566 non-null    float64
 70  Y_COORDINATE                                       566 non-null    float64
 71  Latitude                                           566 non-null    float64
 72  Longitude                                          566 non-null    float64
 73  COMMUNITY_AREA_NUMBER                              566 non-null    int64
 74  COMMUNITY_AREA_NAME                                566 non-null    object
 75  Ward                                               566 non-null    int64
 76  Police District                                    566 non-null    int64
 77  Location                                           566 non-null    object
dtypes: float64(12), int64(7), object(59)
memory usage: 345.0+ KB

Como vemos, este dataset contiene 77 tipos de atributos diferentes, cada uno con su tipo de dato

In [24]:
df.dtypes

School ID                              int64
NAME_OF_SCHOOL                        object
Elementary, Middle, or High School    object
Street Address                        object
City                                  object
                                       ...
COMMUNITY_AREA_NUMBER                  int64
COMMUNITY_AREA_NAME                   object
Ward                                   int64
Police District                        int64
Location                              object
Length: 78, dtype: object